.NewBooking {
    text-align: center;
    padding: 20px;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .room-selection ul {
    list-style: none;
    padding-left: 0;
  }
  
  .room-selection li {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.2s ease-in-out;
  }
  
  .room-selection li.selected {
    background-color: #f4f4f4;
  }
  
  .time-slot-selection ul {
    list-style: none;
    padding-left: 0;
  }
  
  .time-slot-selection li {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.2s ease-in-out;
  }
  
  .time-slot-selection li:hover {
    background-color: #f4f4f4;
  }
  
  .booking-summary {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    background-color: #f4f4f4;
    margin-top: 20px;
  }
  
  .btnc {
    padding: 0.2em 0.8em 0.2em;
    border-radius: 3px;
    margin: 8px 8px 8px 8px;
    color: #e6e6e6;
    background-color: #c2c2c2;
    display: inline-block;
    background: #000000;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-family: sans-serif;
    font-weight: 800;
    font-size: .8em;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    position: relative;
}
.btnc:hover, .btn:focus {
    opacity: 0.8;
}
.btnc:active {
    -webkit-transform: scale(0.80);
    -moz-transform: scale(0.80);
    -ms-transform: scale(0.80);
    -o-transform: scale(0.80);
    transform: scale(0.80);
}
.btnc.block {
    display: block !important;
}
.btnc.circular {
  border-radius: 50em !important;
}