/* Reset default margins and paddings */
body, h1, ul, li, button {
  margin: 0;
  padding: 0;
}

/* Set background color and center content */
.App {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  overflow: hidden; /* Hide content overflow */
}

/* Header styles */
header {
  
  background-color: #333;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
  position: sticky;
  top: 0; /* Stick to the top of the viewport */
  z-index: 100; /* Ensure the header is above other content */
  width: 100%;
  
}
.headercontainer {
  display: flex;
  flex-direction: column ;
  flex-wrap: wrap;
  height: 50px;
}
.title {
  /* background-color: wheat; */
}
.headerbtn {
  /* background-color: red; */
}

header h1 {
  margin: 0;
}

nav {
  margin-top: 1rem;
}

nav button {
  margin: 0 10px;
  padding: 0.5rem 1rem;
  background-color: #444;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

nav button:hover {
  background-color: #555;
}

/* Content styles */
.content {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
  padding: 1rem;
  width: 80%;
  max-width: 600px;
  overflow-y: auto; /* Enable content scrolling */
}

header button {
  background-color: #e90e0e; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}

.btn {
  padding: 1em 2.1em 1.1em;
  border-radius: 3px;
  margin: 8px 8px 8px 8px;
  color: #fffdfd;
  background-color: #e6e6e6;
  display: inline-block;
  background: #f7331d;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-family: sans-serif;
  font-weight: 800;
  font-size: .85em;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
  position: relative;
}
.btn:hover, .btn:focus {
  opacity: 0.8;
}
.btn:active {
  -webkit-transform: scale(0.80);
  -moz-transform: scale(0.80);
  -ms-transform: scale(0.80);
  -o-transform: scale(0.80);
  transform: scale(0.80);
}
.btn.block {
  display: block !important;
}
.btn.circular {
border-radius: 50em !important;
}